<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/style.css"> 
    <title>Document</title>
</head>
<body>
    welcome to the home page bros happy hacking....!!
    <form action="/login" method="post">
        <input type="text" name="username" id="username" placeholder="Enter username...">
        <input type="password" name="userPassword" id="userPassword" placeholder="Enter password...">
        <button type="submit">login</button>
    </form>
</body>
</html>